*{
    background-color: ivory;
}

#wrapper p
{
    min-height: fit-content;
    max-height: 65%;
    min-width: fit-content;
    max-width: 50%;
    background-color: #ad4141;
    color:white ;
}

table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {background-color: #f2f2f2;}